<div class="grid">
  <!-- carrusel de text -->
  <div>
    <p>main works!</p>
  </div>
  <!-- carrusel de imgs -->
  <div>
    <img
      src="../../../../../assets/images/19_FEB_PE_DCTO_WEB_769b49e43a.png"
      alt=""
      class="w-full"
    />
  </div>
  <!-- imagenes grid -->
  <div class="flex justify-center">
    <div class="grid grid-cols-2 p-16 gap-2 w-8/12">
      <div class="grid grid-cols-3 col-span-1 gap-2 h-full">
        <div>
          <img
            src="../../../../../assets/images/gj.jpg"
            alt=""
            class="h-full"
          />
        </div>
        <div>
          <img
            src="../../../../../assets/images/gj.jpg"
            alt=""
            class="h-full"
          />
        </div>
        <div>
          <img
            src="../../../../../assets/images/gj.jpg"
            alt=""
            class="h-full"
          />
        </div>
        <div class="col-span-3">
          <img
            src="../../../../../assets/images/19_FEB_PE_DCTO_WEB_769b49e43a.png"
            alt=""
            class="h-full"
          />
        </div>
      </div>
      <div class="col-span-1 row-span-1 h-full">
        <img
          src="../../../../../assets/images/gj.jpg"
          alt=""
          class="w-full h-full"
        />
      </div>
    </div>
  </div>
  <!-- cards -->
  <div class="flex justify-center border py-4 bg-pink-200/75">
    <div class="w-7/12">
      <h1 class="pb-4 text-2xl">Importante para tu viaje</h1>
      <div class="grid grid-cols-4 gap-3">
        <div class="border p-4 bg-white">
          <h4 class="text-sm">Requisitos para Volar</h4>
          <p class="text-xs">Revisalo 48 horas previas a tu viaje</p>
        </div>
        <div class="border p-4 bg-white">
          <h4 class="text-sm">Estado de Vuelo</h4>
          <p class="text-xs">Conoce tu destino aqui</p>
        </div>
        <div class="border p-4 bg-white">
          <h4 class="text-sm">Terminos y condiciones</h4>
          <p class="text-xs">Conoce aqui los terminos y condiciones</p>
        </div>
        <div class="border p-4 bg-white">
          <h4 class="text-sm">Centro de Ayuda</h4>
          <p class="text-xs">
            Resuelve tus dudas y obten toda la informacion que necesitas
          </p>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="flex justify-center pb-10">
    <div class="w-11/12">
      <h2 class="text-center text-2xl py-10">
        <span class="text-green-600">¡Encuentra</span>
        <span class="text-violet-600"
          >Vuelos Baratos con Sky Airline Perú!
        </span>
      </h2>
      <div class="grid grid-cols-4 gap-4">
        <a href="">
          <div class="flex flex-col items-center gap-4 p-4">
            <img
              class="rounded-full w-16 h-16"
              src="../../../../../assets/images/gj.jpg"
              alt=""
            />
            <span class="pb-14">NUESTRA TARIFAS</span>
            <button
              class="border-2 rounded-lg p-2 text-lg w-5/12 font-semibold text-fuchsia-400 border-fuchsia-400 hover:bg-fuchsia-500 hover:text-stone-100"
            >
              Ver más
            </button>
          </div>
        </a>
        <a href="">
          <div class="flex flex-col items-center gap-4 p-4">
            <img
              class="rounded-full w-16 h-16"
              src="../../../../../assets/images/gj.jpg"
              alt=""
            />
            <span class="pb-14">NUESTRA TARIFAS</span>
            <button
              class="border-2 rounded-lg p-2 text-lg w-5/12 font-semibold text-fuchsia-400 border-fuchsia-400 hover:bg-fuchsia-500 hover:text-stone-100"
            >
              Ver más
            </button>
          </div>
        </a>
        <a href="">
          <div class="flex flex-col items-center gap-4 p-4">
            <img
              class="rounded-full w-16 h-16"
              src="../../../../../assets/images/gj.jpg"
              alt=""
            />
            <span class="pb-14">NUESTRA TARIFAS</span>
            <button
              class="border-2 rounded-lg p-2 text-lg w-5/12 font-semibold text-fuchsia-400 border-fuchsia-400 hover:bg-fuchsia-500 hover:text-stone-100"
            >
              Ver más
            </button>
          </div>
        </a>
        <a href="">
          <div class="flex flex-col items-center gap-4 p-4">
            <img
              class="rounded-full w-16 h-16"
              src="../../../../../assets/images/gj.jpg"
              alt=""
            />
            <span class="pb-14">NUESTRA TARIFAS</span>
            <button
              class="border-2 rounded-lg p-2 text-lg w-5/12 font-semibold text-fuchsia-400 border-fuchsia-400 hover:bg-fuchsia-500 hover:text-stone-100"
            >
              Ver más
            </button>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
