<div class="gap-4 bg-zinc-100">
  <div class="flex flex-col items-center py-4">
    <h2 class="text-gray-600 text-4xl font-semibold p-4">Síguenos</h2>
    <div class="flex gap-3">
      <img
        class="rounded-full w-10"
        src="../../../../../assets/images/gj.jpg"
        alt=""
      />
      <img
        class="rounded-full w-10"
        src="../../../../../assets/images/gj.jpg"
        alt=""
      />
      <img
        class="rounded-full w-10"
        src="../../../../../assets/images/gj.jpg"
        alt=""
      />
    </div>
  </div>
  <hr class="border mx-20" />
  <div class=" flex justify-center">

    <div class="grid grid-cols-4 gap-3 p-10 w-8/12">
      <div class="text-center w">
        <h3 class="font-semibold pb-2">INFORMACION UTIL</h3>
        <ul>
          <li class="text-sm"><a href="">Centro de Ayuda</a></li>
          <li class="text-sm"><a href="">Tarifario de Servicios</a></li>
          <li class="text-sm"><a href="">Canala de Denuncias</a></li>
          <li class="text-sm"><a href="">Deberes</a></li>
          <li class="text-sm"><a href="">Vuelos Baratos</a></li>
          <li class="text-sm"><a href="">Cyber</a></li>
          <li class="text-sm"><a href="">Código de Conducta SKY</a></li>
          <li class="text-sm"><a href="">Airline Perú Sucursal Colombia</a></li>
        </ul>
      </div>
      <div class="text-center">
        <h3 class="font-semibold pb-2">PORTALES</h3>
        <ul>
          <li class="text-sm"><a href="">Empresas</a></li>
          <li class="text-sm"><a href="">SKY Carga</a></li>
        </ul>
      </div>
      <div class="text-center">
        <h3 class="font-semibold pb-2">NOSTROS</h3>
        <ul>
          <li class="text-sm"><a href="">Sé un SKYPER</a></li>
          <li class="text-sm"><a href="">Trabaja con nostros</a></li>
          <li class="text-sm"><a href="">Reclutamiento de pilotos</a></li>
          <li class="text-sm"><a href="">Sostenibilidad</a></li>
          <li class="text-sm"><a href="">Terminos y condiciones web</a></li>
        </ul>
      </div>
      <div class="text-center">
        <h3 class="font-semibold pb-2">SKY</h3>
        <ul>
          <li class="text-sm"><a href="">Política de privaciodad</a></li>
          <li class="text-sm"><a href="">Contrado de transporte</a></li>
          <li class="text-sm"><a href="">Contáctanos</a></li>
          <li class="text-sm"><a href="">Cotizaciones en Grupo</a></li>
          <li class="text-sm"><a href="">condiciones flexibilidad</a></li>
        </ul>
      </div>
      <div class="flex justify-center col-span-4 p-4">
        <img
          class="h-20"
          src="../../../../../assets/images/claim-book.d95629ed.png"
          alt=""
        />
      </div>
      <div class="flex flex-col items-center gap-2 col-span-4 p-6 ">
        <img
          class="h-32"
          src="../../../../../assets/images/polkadot.jpg"
          alt=""
        />
        <span class="text-sm">MEJOR LOW COST SUDAMÉRICA </span>
        <span class="text-sm">2022 | 2019 | 2018</span>
      </div>
    </div>
  </div>
  <hr class="border mx-20" />
  <div class="flex justify-center p-4 pb-10">
    <p class="text-sm">
      © 1999-2021 SKY Airline. Todos los derechos reservados.- SKY Airline - Av
      Del Valle Sur 765 - Santiago / Chile
    </p>
  </div>
</div>
